<div class="container">
    <h2>Tableau des utilisateurs</h2>
  
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Téléphone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data">
          <td>{{ user.nom }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.telephone }}</td>
        </tr>
      </tbody>
    </table>
  
    <button (click)="exportToPDF()">Exporter en PDF</button>
    <button (click)="exportToExcel()">Exporter en Excel</button>
  </div>
  