<div class="container">
  <form [formGroup]="binaryForm" (ngSubmit)="onSubmit()">
    <div formArrayName="fields">
      <div class="input-group" *ngFor="let field of fields.controls; let i = index">
        <label [for]="'field-' + i">Champ {{i + 1}}</label>
        <input 
          [id]="'field-' + i"
          type="number"
          [formControlName]="i"
          min="0"
          max="1"
          placeholder="0 ou 1"
        >
        <div class="error-message" *ngIf="field.get('value')?.errors?.['required'] && field.get('value')?.touched">
          Ce champ est requis
        </div>
        <div class="error-message" *ngIf="(field.get('value')?.errors?.['min'] || field.get('value')?.errors?.['max']) && field.get('value')?.touched">
          La valeur doit être 0 ou 1
        </div>
      </div>
    </div>

    <div class="button-group">
      <button type="button" (click)="addField()" class="btn btn-add">
        <i class="fas fa-plus"></i> Ajouter un champ
      </button>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-confirm" [disabled]="!binaryForm.valid">
        Confirmer
      </button>
      <button type="button" class="btn btn-cancel" (click)="onReset()">
        Annuler
      </button>
    </div>
  </form>
</div>